.bzr
.codeintel
.DS_Store
.hg
.installed.cfg
.mr.developer.cfg
.svn
*-ck.js
*.egg
*.EGG
*.egg-info
*.EGG-INFO
*.mo
*.pyc
*.pyo
bin
build
coverage
develop-eggs
dist
downloads
eggs
etc/*.conf
etc/vhosts/*.conf
fabfile.py
fake-eggs
htdocs/serverdetails.json
include
lib
parts
pip-selfcheck.json
src/ade25.fabfiles
var
!cache_control_assets.conf