*.mo
*.egg-info
*.egg
*.EGG
*.EGG-INFO
bin
build
develop-eggs
coverage
downloads
eggs
fake-eggs
parts
dist
.installed.cfg
.mr.developer.cfg
var
.hg
.bzr
.svn
*.pyc
*.pyo
*-ck.js
.codeintel
.sublime-project
etc/*
etc/vhosts/*.conf
htdocs/*.json
src/ade25.*
fabfile.py
known-good-versions.cfg